* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'comicsans', sans-serif; 
}

body {
    background-image: url(thiswan.jpg);
  
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}

.box {
    background-color: lightyellow; 
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 450px;
    margin: 0px 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
}
    